page-login {

 [col-6]{
 	padding: 0px;
 }

 .col {
 	padding: 0px;
 }

 .scroll-content{
    background: url("../assets/imgs/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
 }

}
