// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f02222,
  secondary:  #448e01,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #1c1c1c
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

  $grind-gray: #3c3c3c;
  $grind-dark-gray: #1e1e1e;
  $grind-light-gray: #cccccc;

  $text-white-dim: rgba(255, 255, 255, 0.9);

  //Checkbox
  $checkbox-ios-background-color-off: transparent;
  $checkbox-ios-background-color-on: transparent;
  $checkbox-ios-icon-border-radius: 5px;
  $checkbox-ios-icon-border-color-off: color($colors, dark);
  $checkbox-ios-icon-border-color-on: color($colors, dark);
  $checkbox-ios-icon-checkmark-color: color($colors, primary);

  $checkbox-md-icon-background-color-off: transparent;
  $checkbox-md-icon-background-color-on: transparent;
  $checkbox-md-icon-border-radius: 5px;
  $checkbox-md-icon-border-color-off: color($colors, dark);
  $checkbox-md-icon-border-color-on: color($colors, dark);
  $checkbox-md-icon-border-width: 1px;
  $checkbox-md-icon-checkmark-color: color($colors, primary);
  
  //Select
  $select-ios-icon-color: $text-white-dim;
  $select-md-icon-color: $text-white-dim;

  //Alert
  $alert-ios-border-radius: 24px;
  $alert-ios-message-empty-padding-bottom: 0;
  $alert-ios-list-border-top: 0;
  $alert-ios-radio-icon-border-color: color($colors, secondary);
  $alert-ios-radio-label-text-color-checked: color($colors, secondary);

  $alert-md-border-radius: 24px;
  $alert-md-head-text-align: center;
  $alert-md-list-border-top: 0;
  $alert-md-radio-border-color-on: color($colors, secondary);
  $alert-md-radio-label-text-color-checked: color($colors, secondary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
