<ion-content padding text-center>

	<img margin-bottom src="../assets/imgs/logo-md.png" alt="Logo" />
	<p ion-text color="dark">Please enter your email. We will send an email to reset your password.</p>

	<form [formGroup]="forgotPassForm" (ngSubmit)="submitForm(forgotPassForm.value)">

		<ion-row>
			<ion-col col-12>
				<ion-item margin-bottom class="grind-item-input faded-input" [ngClass]="{'error-border':!forgotPassForm.controls.email.valid && forgotPassForm.controls.email.touched}">
			    	<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			  	</ion-item>

			  	<p ion-text color="primary" class="error-text" *ngIf="forgotPassForm.controls.email.hasError('required') && forgotPassForm.controls.email.touched">This field is required!</p>
			  	<p ion-text color="primary" class="error-text" *ngIf="forgotPassForm.controls.email.hasError('pattern') && forgotPassForm.controls.email.touched">Email is not valid!</p>
		  	</ion-col>
	    </ion-row>

		<ion-row>
			<ion-col col-12>
			  	<button ion-button block round margin-bottom color="primary" type="submit" class="grind-btn-icon-right">
			  		<ion-icon class="invisible" name="arrow-round-forward"></ion-icon>
			  		Send
			  		<ion-icon name="arrow-round-forward"></ion-icon>
			  	</button>
			</ion-col>
		</ion-row>

	</form>

	<a ion-text color="dark" (click)="showLogin()">Cancel</a>

</ion-content>
