page-signup {

 	.scroll-content{
	    background: url("../assets/imgs/bg.png") no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
 	}

 	.grind-item-input.item-md.item-select, .grind-item-input.item-ios.item-select {
 		color: rgba(255, 255, 255, 0.9);
 	}

 	.col, [col-6]{
	 	padding-top: 0px;
	 	padding-bottom: 0px;
 	}

}
